.prhxt.mt20.pull-left
  .panel.panel-primary
    .panel-heading
      %h3.panel-title 相册分类
    .panel-body
      %h4
        = link_to "所有图片",new_home_path(@new_home.id, :type => "album"),:class =>"f16 mt5 mb5 cr"
      %h4
        = link_to "效果图（#{@albums1.size}）",new_home_path(@new_home.id, :type => "album",:pic =>1),:class =>"f16 mt5 mb5 cr"
      %h4
        = link_to "户型鉴赏（#{@albums2.size}）",new_home_path(@new_home.id, :type => "album",:pic =>2) ,:class =>"f16 mt5 mb5 cr"
      %h4
        = link_to "园林景观（#{@albums3.size}）",new_home_path(@new_home.id, :type => "album",:pic =>3) ,:class =>"f16 mt5 mb5 cr"
      %h4
        = link_to "样板房（#{@albums4.size}）",new_home_path(@new_home.id, :type => "album",:pic =>4),:class =>"f16 mt5 mb5 cr"
      %h4 
        = link_to "建设进度（#{@albums5.size}）",new_home_path(@new_home.id, :type => "album",:pic =>5) ,:class =>"f16 mt5 mb5 cr"
      %h4 
        = link_to "配套图片（#{@albums6.size}）",new_home_path(@new_home.id, :type => "album",:pic =>6) ,:class =>"f16 mt5 mb5 cr"
      %h4 
        = link_to "广告图（#{@albums7.size}）",new_home_path(@new_home.id, :type => "album",:pic =>7),:class =>"f16 mt5 mb5 cr"
      %h4 
        = link_to "活动图片（#{@albums8.size}）",new_home_path(@new_home.id, :type => "album",:pic =>8),:class =>"f16 mt5 mb5 cr"
/ 全部户型图
.prhxtall.pull-left.ml20.mt20{style: "width:907px;"}
  .title3_l
    %p 实景图
  .title3_r{align: "right", style: "width:785px;"}
    / %a.cl{href: ""} 浏览最多
    / %span.cl |
    / %a.pl10.pr10.cl{href: ""} 切换列表页
  %table{border: "0", width: "907px"}
    %tr
      %td{colspan: "2"}
        - @albums.each do |item|
          .prhxtinfo.pull-left.ml10.mr10
            %a{id:"#{item.url}", style:"cursor:pointer;"}
              = image_tag(item.url, :class => "img-polaroid", :style => "padding:10px; width:236px; height:138px")
            :javascript
              T$('#{item.url}').onclick = function(){TINY.box.show("<img style='width:460px; height:300px;' src='#{item.url}' />",0,0,0,1)}
            
            %table
              %tr
                %td{colspan: "2"}
                  %h4.cl= item.name
              %tr
                %td{align: " center", colspan: "2"}
                  浏览：
                  %span.cr> 1660
                  次

.fenye.mr30
  .pagination.pull-right{style: "margin-top:0px;"}
    = will_paginate @albums
  -# %p.pull-right.mt10.mr10 每页显示14条，共有1110条记录
