%script{src: "http://api.map.baidu.com/api?v=2.0&ak=NXagVEyXSs6AmnrCNXl7pKHo", type: "text/javascript"}
.clearfix
.pr_info
  .pull-left.mt20
    .item-tab
      .panel{style: "display: block;"}
        %a#click_test2{style: "cursor:pointer;"}
          = image_tag(@new_home.new_home_thumb, alt: "",:style =>"width:340px; height:257px", target: "_blank" ,title:@new_home.name )
        :javascript
            var content2 = "<img  style='width:460px; height:300px;'  src='#{@new_home.new_home_thumb}' />";
            T$('click_test2').onclick = function(){TINY.box.show(content2,0,0,0,1)}
      .panel{style: "display: none;"}
        -Album.where(["new_home_id = :home_id ",{ home_id: @new_home.id}]).limit(1).each do |album|
          %a#click_test3{style: "cursor:pointer;"}
            = image_tag(album.url, alt: album.name,:style =>"width:340px; height:257px", target: "_blank" ,title: album.name)
          :javascript
            var content3 = "<img style='width:460px; height:300px;' src='#{album.url}' />";
            T$('click_test3').onclick = function(){TINY.box.show(content3,0,0,0,1)}
      .panel{style: "display: none;"}
        -Apartment.where(["new_home_id = :home_id ",{ home_id: @new_home.id}]).limit(1).each do |apartment|
          %a#click_test4{style: "cursor:pointer;"}
            = image_tag(apartment.apartment_thumb, alt: apartment.name,:style =>"width:340px; height:257px", target: "_blank" ,title: apartment.name)
          :javascript
            var content4 = "<img style='width:460px; height:300px;' src='#{apartment.apartment_thumb}' />";
            T$('click_test4').onclick = function(){TINY.box.show(content4,0,0,0,1)}
      %ul.tag.clearfix{style: "z-index:999"}
        %li.on
          %a{style: "cursor:pointer;"} 效果图
        %li
          = link_to "楼盘相册", new_home_path(@new_home.id, :type => "album")
        %li
          = link_to "户型图", new_home_path(@new_home.id, :type => "apartment")
      .cover
      %a#click_test2.ml20 效果预览
    
    .panel.panel-primary.mt20{style: "width:338px"}
      .panel-heading
        %h3.panel-title
          优惠信息
          %a.pull-right.f14{href: "#"} 更多>
      .panel-body
        -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 13 }]).limit(1).each do |information|
          %p.f16.cl
            =link_to information.title.first(19), information, :class => "cl"
          %p.f14.lh180
            = information.description.first(40)
            = link_to "[详情]", information, :class => "cl", target: "_blank"
          %div{style: "border-top:1px dotted #333; padding:0px 0px 15px 0px;"}
          %ul
            -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 13 }]).offset(1).limit(2).each do |information|
              %li.f14.lh180
                =link_to information.title.first(19), information, :class => "cl"
    .panel.panel-primary.mt20{style: "width:338px"}
      .panel-heading
        %h3.panel-title 人气指数
      .panel-body
        %p.f14.lh150 区域排行榜：第#{@new_home.best}名
        %p.f14.lh150 团购人数：#{@intention}人
        %p.f14.lh150 访问人数：#{@total_hit }人
        %p.f14.lh150 今日访问：#{@today_hit }人
        %p.f14.lh150 昨日访问：#{@yest_hit }人
        %p.f14.lh150 欢迎访问#{@new_home.name}网上售楼处！
        %div{style: "border-top:1px dotted #333; padding:0px 0px 15px 0px;"}
        %table{width: "300px"}
          %tr
            %td{style: "text-align:center"}
              共
              %span.cr> #{@read}
              人看过
            %td{style: "text-align:center"}
              共
              %span.cr> #{@want}
              人想去
          %tr
            %td{style: "text-align:center"}
              %a.btn.btn-inverse.cw{style: "background:#f65c52",onclick: "abc()"} 我已看过
            %td{style: "text-align:center"}
              %a.btn.btn-inverse.cw{style: "background:#f65c52",onclick: "abc()"} 我很想去
          :javascript
            function abc(){
              alert('谢谢参与!');
              window.location.reload();
            }
    / .panel.panel-primary.mt20{style: "width:338px"}
    /   .panel-heading
    /     %h3.panel-title
    /       楼盘在线问答
    /       %a.pull-right.f14{href: "#"} 更多>
    /   .panel-body
    /     .pr_ifno_zx
    /       %p.pt20{align: "center"} 美房购房交流群：
    /       %p.cl{align: "center"}
    /         11122111
    /         %a.cl{href: "", style: "float:right"} 进入群>  
    /     %p.cr 问：乐美颂是一梯几户的 华女士(1515518****)
    /     %p 答：您好,这里是House365新房中心，大华锦绣华城乐美颂是一梯三户的。(2014.02.26)
    /     %div{style: "border-top:1px dotted #333; padding:0px 0px 15px 0px;"}
    /     %p.cr 问：请问你们靠近地铁吗？周变交通怎么样?小户型有吗？ 张先生(1865296****)
    /     %p 答：您好,这里是House365新房中心，以后宁天城际二期会有地铁，鼓珍线（可达鼓...(2014.02.25)
    /     %table{width: "300px"}
    /       %tr
    /         %td{style: "text-align:center"}
    /           %a.btn.cw{style: "background:#f65c52"} 查看回复
    /         %td{style: "text-align:center"}
    /           %a.btn.cw{style: "background:#f65c52"} 我要提问
  / end left
  .pull-left.ml30{style: "width:800px;"}
    .pr_info_1
      %h4.pt20
        = @new_home.name+""+"基本信息"
      %div{style: "border-top:1px dotted #333; padding:0px 0px 15px 0px;"}
      %p
        %strong.f14 参考均价：
        %span.cr.f20 #{@new_home.price}元/m ²
      %p
        %strong.f14 项目地址：
        %span
          = @new_home.project_address
      %p
        %strong.f14 主力户型：
        %span.cl
          = @new_home.main_units
      %p
        %strong.f14> 建筑类别：
        = ConstructionCategory.find_by_id(@new_home.construction_category_id).name if @new_home.construction_category_id?
      %p
        %strong.f14 项目特色：
        = ProjectFeatures.find_by_id(@new_home.project_features_id).name if @new_home.project_features_id?
      %p
        %strong.f14> 物业类别：
        = PropertyType.find_by_id(@new_home.property_type_id).name if @new_home.property_type_id?
      %p
        %strong.f14> 建筑面积：
        = @new_home.gfa
      %p
        %strong.f14> 占地面积：
        = @new_home.covers
      %p
        %strong.f14> 开 发 商：
        = Developers.find(@new_home.developers_id).name if @new_home.developers_id?
      %p
        %strong.f14> 开盘时间：

      %p
        %strong.f14> 公   摊：
        = @new_home.pool_area
      %p
        %strong.f14> 车位情况：
        = @new_home.parking
      %p
        %strong.f14.mb10> 售楼地址：
        = @new_home.sales_address
        -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 2 }]).limit(1).each do |information|
          = information.title
      %div{style: "border-top:1px dotted #333; padding:0px 0px 15px 0px; "}
      %p.cl
        %a.cl{href: "", target: "_blank"} 点击查看#{@new_home.name}详细信息>>
        %a.pull-right 退订
        %a.cl.pull-right.mr20 开盘动免费态订阅
    .pull-left.mt10
      .title3_l
        %p 最新动态
      .title3_r{align: "right", style: "width:678px;"}
        %a{href: "information?information_type_id=2",target: "_blank"} 更多
      %table{border: "0", width: "800px"}
        %tr
          %td.pl15{colspan: "2"}
            %table.mt20
              %tr
                %td{width: "290px;"}
                  -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 12 }]).limit(1).each do |information|
                    = link_to image_tag(information.information_thumb, alt: information.title, :style => "width:270px"), information, target: "_blank"
                %td
                  -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 12 }]).limit(1).each do |information|
                    %p
                      = link_to information.title.first(24), information, :class => "f20 cl"
                    %p.ch
                      = information.updated_at.strftime("%Y-%m-%d %H:%M")
                    %p
                      = information.description.first(120)
                      = link_to "[详情]", information, :class => "cl", target: "_blank"
        %tr
          %td{colspan: "2"}
            .ml20.mr20
              -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 12 }]).offset(1).limit(3).each do |information|
                %p.f16.lh150
                  =link_to information.title, information
                  %span.ch.pull-right.f12
                    = information.updated_at.strftime("%Y-%m-%d %H:%M")

      .title3_l
        %p 看房报告
      .title3_r{align: "right", style: "width:678px;"}
        %a{href: ""} 更多
      .clearfix
      .pt10.m10{style: "width:780px;"}
      -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 15 }]).limit(1).each do |information|
        %p.f16.cl
          [报告]
          %span.label{style: "background:#f65c52"} 最新
          =link_to information.title, information, :class => "cl"
          %span.ch.f13 （#{information.updated_at.strftime("%Y-%m-%d %H:%M")}）
        %p
          = information.description.first(120)
          = link_to "[详情]", information, :class => "cl", target: "_blank"
      -Information.where(["new_home_id = :home_id and category_id = :c_id",{ home_id: @new_home.id, c_id: 15 }]).offset(1).limit(3).each do |information|
        %p.f16.cl
          [报告]
          =link_to information.title, information, :class => "cl"
          %span.ch.f13 （#{information.updated_at.strftime("%Y-%m-%d %H:%M")}）
      / .title3_l
      /   %p 业主论坛
      / .title3_r{align: "right", style: "width:678px;"}
      /   %a{href: ""} 更多
      / .clearfix
      / .mt20{style: "width:800px"}
      /   %div{style: "border-bottom:1px dotted #CCC"}
      /     %p.f16.lh200
      /       目前大华锦绣华城有
      /       %span.cr> 4844
      /       名网友在线交流， 帖子总数:
      /       %span.cr> 4844
      /       条，网友评分:
      /       %span.cr ★
      /       %span.cr ★
      /       %span.cr ★
      /       %span.cr ★
      /       %span.cr ★
      /     %p
      /   %table.f14.lh180.mt10{width: "100%"}
      /     %tr
      /       %td
      /         %a 【韶韶茶馆-江宁分馆】三八女神节，留下你对心中女神
      /       %td
      /       %td 43/1049
      /       %td 2014-03-07
      /     %tr
      /       %td
      /         %a 【韶韶茶馆-江宁分馆】三八女神节，留下你对心中女神
      /       %td
      /       %td 43/1049
      /       %td 2014-03-07
      /     %tr
      /       %td
      /         %a 【韶韶茶馆-江宁分馆】三八女神节，留下你对心中女神
      /       %td
      /       %td 43/1049
      /       %td 2014-03-07
  .clearfix
  / 底部左边
  .prhxtall.pull-left.mt20
    .title3_l
      %p 户型图
    .title3_r{align: "right", style: "width:785px;"}
      %a{href: ""} 更多
    .clearfix
    -Apartment.where(["new_home_id = :home_id ",{ home_id: @new_home.id}]).limit(3).each do |apartment|
      .prhxtinfo.pull-left.ml10.mr10
        %a{id:"#{apartment.apartment_thumb}", style:"cursor:pointer;"}
          = image_tag(apartment.apartment_thumb, alt: apartment.name, :class => "img-polaroid", :style => "padding:20px 10px 20px 10px; width:236px ; height:118px")
        :javascript
            T$('#{apartment.apartment_thumb}').onclick = function(){TINY.box.show("<img style='width:460px; height:300px;' src='#{apartment.apartment_thumb}' />",0,0,0,1)}
        %table{align: "center"}
          %tr
            %td{colspan: "2"}
              %h4.cl
                = apartment.name
          %tr
            %td
              = apartment.apartment_name
            %td
              = apartment.area
    .clearfix
    .title3_l
      %p 楼盘相册
    .title3_r{align: "right", style: "width:785px;"}
      %a{href: ""} 更多
    .clearfix
    -Album.where(["new_home_id = :home_id ",{ home_id: @new_home.id}]).limit(3).each do |album|
      .prhxtinfo.pull-left.ml10.mr10{style:"height:205px;"}
        %a{id:"#{album.url}", style:"cursor:pointer;"}
          = image_tag(album.url, alt: album.name, :class => "img-polaroid", :style => "padding:20px 10px 20px 10px; width:236px ; height:118px")
        :javascript
            T$('#{album.url}').onclick = function(){TINY.box.show("<img style='width:460px; height:300px;' src='#{album.url}' />",0,0,0,1)}
        %h4.cl{align: "center"}
          = album.name
        %p{align: "center"}
    .clearfix
    .title3_l
      %p 周边地图
    .title3_r{align: "right", style: "width:785px;"}
      %a{href: ""} 更多
    .clearfix
    .mt10{style: "width:907px;"}
      #property-map.mb10{style: "width:907px; height:300px"}
      %p.f14
        %strong 周边交通：
      %p.f14 公交：#{@new_home.bus}
      %p.f14 地铁：
      %p.f14 自驾路线：#{@new_home.car}
      %p.f14
        %strong 周边配套：
      %p.f14 小区内部配套:#{@new_home.neighborhoods}
      %p.f14 中小学:#{@new_home.school}
      %p.f14 综合商场:#{@new_home.shopping}
      %p.f14 医院:#{@new_home.hospital}
    .clearfix
    %a{name: "tuangou"}
    .title3_l
      %p 我要团购
    .title3_r{align: "right", style: "width:785px;"}
      %p.mr10.cr{style:"line-height:32px;"} *全部为必填
    .clearfix
    %div{name: "group_buying", id: "group_buying"}
    .pt20.pl20{style: "background:#2db8ad; border: 1px solid none; margin-left:1px; height:155px;"}
      = form_for(@intention_to_register) do |f|
        %input{:type => "hidden", :id => "intention_to_register_new_home_id", :name => "intention_to_register[new_home_id]", :value => "#{@new_home.id}"}/
        %table{style: "font-size:14px;"}
          %tr
            %td{width: "350px;"}
              姓名：
              = f.text_field :name, placeholder: "请输入联系姓名"
              %span.cr *
            %td{width: "350px;"}
              性别：
              = f.radio_button :sex, 1, :checked => true
              男
              = f.radio_button :sex, 0
              女
            %td
          %tr
            %td
              预算：
              = f.text_field :budget, placeholder: "请输入预算"
              万元
            %td
              面积：
              = f.text_field :area, placeholder: "请输入面积"
              m²
            %td
              -# %input.btn.cw{style: "width:96px; background:#f65c52", value: "我要贷款"}/
          %tr
            %td
              手机：
              = f.text_field :tel, placeholder: "请输入联系电话"
              %span.cr *
            %td
              邮箱：
              = f.text_field :email, placeholder: "请输入邮箱"
            %td
              = f.submit "我要团购", class: "btn cw", style: "width: 96px; background:#f65c52"

  / end 底部左边
  / 底部右边
  .pull-left.ml20{style: "width:243px;"}
    = render "right"

    / .panel.panel-primary
    /   .panel-heading
    /     %h3.panel-title
    /       购房工具
    /       %a.pull-right.f14{href: "#"} 更多>
    /   .panel-body
    /     %table{style: "width:215px;"}
    /       %tr
    /         %td
    /           %a.m20{href: ""}
    /             %img{src: "img/tool1.gif"}/
    /         %td
    /           %a.m20{href: ""}
    /             %img{src: "img/tool2.gif"}/
    /       %tr
    /         %td
    /           %a.m20{href: ""}
    /             %img{src: "img/tool3.gif"}/
    /         %td
    /           %a.m20{href: ""}
    /             %img{src: "img/tool4.gif"}/
    /       %tr
    /         %td
    /           %a.m20{href: ""}
    /             %img{src: "img/tool5.gif"}/
    /         %td
    .panel.panel-primary
      .panel-heading
        %h3.panel-title 帮你找房
      .panel-body.ml20{style:"height:100px;"}
        = form_tag new_homes_path, :method => :get, :class => "form-inline m0",name: "myform", :role => "form" do
          %button.btn.btn-mini{style: "height:28px; width:58px;margin-top:10px;", type: "button"} 区域
          = select_tag :area_id, options_from_collection_for_select(@areas, 'id', 'name'), prompt: "请选择地区", class: "selectS", id: "area", style: "margin: 13px 0 0 0"
          / %button.btn.btn-mini{style: "height:28px; width:58px", type: "button"} 板块
          / = select_tag :section_id, options_from_collection_for_select(@sections, 'id', 'name'), prompt: "请选择版块", class: "selectS", id: "area", style: "margin: 3px 0"
          = text_field_tag :keyword, params[:keyword], :class => "form-control mt10", :id => "keyword", :style => "width: 110px", :placeholder => "请输入关键字"
          %button.btn.btn-danger.btn-mini.mt10{ type: "submit", style: "height: 28px; width: 58px" }
            搜索
  / end 底部
:javascript
  // 百度地图API功能
  var map = new BMap.Map("property-map");
  var point = new BMap.Point(#{@new_home.map_address});

  map.centerAndZoom(point,16);
  var marker1 = new BMap.Marker(point);
  map.addOverlay(marker1);

  var opts = {
    position : point,    // 指定文本标注所在的地理位置
    offset   : new BMap.Size(10, -30)    //设置文本偏移量
  }
  var label = new BMap.Label("#{@new_home.name}", opts);  // 创建文本标注对象
    	label.setStyle({
    		 color : "red",
    		 fontSize : "12px",
    		 height : "20px",
    		 lineHeight : "20px",
    		 fontFamily:"微软雅黑"
    	});
  map.addOverlay(label);
  var infoWindow1 = new BMap.InfoWindow("#{@new_home.name} - #{@new_home.project_address}");
  marker1.addEventListener("click", function(){this.openInfoWindow(infoWindow1);});
  map.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL}));
