- type = params[:type]
- provide(:title, "#{@new_home.name}-打折优惠-团购登记-价格分析")
- provide(:key, "#{@new_home.name},漳州#{@new_home.name},#{@new_home.name}团购")
%script{src: "http://api.map.baidu.com/api?v=2.0&ak=NXagVEyXSs6AmnrCNXl7pKHo", type: "text/javascript"}
.container
  .pr_title.pull-left.mb10
    %h2.pull-left
      = @new_home.name
    %input.btn.pull-left.mt20.f12.ml10{style: " background:#f65c52; color:#FFF", type: "button", value: "在售"}/
    %p.pull-left.pt30.pl10 (项目名称:#{@new_home.name})
    %p.pull-right.mt20
      售楼电话：
      %strong.cr{style: "font-size:34px"}  #{@new_home.tel}
      找售楼处
      %a.btn{href: "?type=index#tuangou", style: " background:#f65c52; color:#FFF"} 团购报名
  .clearfix
  .prnav
    .nav_1
      = link_to "楼盘首页", new_home_path(@new_home.id), :class => "ml10", :style => "padding: 0"
    .nav_2
      = link_to "项目介绍", new_home_path(@new_home.id, :type => "introduce"), :class => (type == "introduce" ? "active" : "")
      = link_to "户型图", new_home_path(@new_home.id, :type => "apartment"), :class => (type == "apartment" ? "active" : "")
      = link_to "销售动态", new_home_path(@new_home.id, :type => "new"), :class => (type == "new" ? "active" : "")
      -# %a{href: "#"} 价格行情
      = link_to "交通配套", new_home_path(@new_home.id, :type => "traffic"), :class => (type == "traffic" ? "active" : "")
      = link_to "楼盘相册", new_home_path(@new_home.id, :type => "album"), :class => (type == "album" ? "active" : "")      
  - if type == "apartment"
    = render "apartment"
  - elsif type == "new"
    = render "new"
  - elsif type == "album"
    = render "album"
  - elsif type == "introduce"
    = render "introduce"
  - elsif type == "traffic"
    = render "traffic"
  - else
    = render "index"
/ con end
