- provide(:title, '厦门房产资讯')
.container
  .mb20.pull-left
    当前位置：
    = render_breadcrumbs
  .clearfix
  .pull-left.content{style: "width:900px;"}
    .top
      .l
        %h1
          = @information.title
        %p
          #{@information.created_at.strftime("%Y-%m-%d %H:%M")}　来源: #{@information.source}
      .review
        %p
          = @information.description
    .tj
      - Information.limit(4).each do |information|
        = link_to information.title, information
    .clearfix
    .news_body
      = @information.content.html_safe

    / end fenxiang
  = render "right"
