#miniTop
  .miniLogin
    / %label 用户名：
    / %input#username.loginTxtInt{ name: "username", type: "text" }
    / %label 密码：
    / %input#password.loginTxtInt{ name: "password", type: "password" }
    / %input{ name: "action", type: "hidden", value: "login" }
    / %input{ name: "r", type: "hidden", value: "3" }
    / %input.loginBut{ type: "submit", value: "登录" }
    / %a.regBut 注册
    %p
      馨窝网各地分站：
      = link_to "厦门", "http://xm.xinwowang.com", target: "_blank"
      |
      = link_to "漳州", "http://zz.xinwowang.com", target: "_blank", :class => "cr"
      |
      = link_to "泉州", "http://qz.xinwowang.com", target: "_blank"
      |
      = link_to "广州", "http://gz.xinwowang.com", target: "_blank"
      |
      = link_to "深圳", "http://sz.xinwowang.com", target: "_blank"
      |
  .miniright
    = link_to "首页", root_path
    = link_to "新房", new_homes_path
    = link_to "二手房", "#"
    = link_to "团购", '#'
.clearfix
= render 'layouts/header_ad' if params[:controller]=="static_pages"
.container
  .pull-left.mt20
    = link_to image_tag("logo.png"), "http://www.xinwowang.com", target: "_blank"
  .pull-left.f16.pt55.btn-group
    %button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
      漳州站
      %span.caret
    %ul.dropdown-menu{style: "z-index:99999"}
      %li
        %a{href: "http://xm.xinwowang.com", target: "_blank"} 厦门站
      %li
        %a{href: "http://qz.xinwowang.com", target: "_blank"} 泉州站
      %li
        %a{href: "http://gz.xinwowang.com", target: "_blank"} 广州站
      %li
        %a{href: "http://sz.xinwowang.com", target: "_blank"} 深圳站
    
  .pull-left.mt30.ml30
    .tabbable
      %ul.nav.nav-tabs#myTab{ style: "margin:0;" }
        %li.active
          %a{ "data-toggle" => "tab", href: "#tab1" } 综合
        %li
          %a{ "data-toggle" => "tab", href: "#tab2" } 新房
        %li
          %a{ href: "#tab3" } 租房
        %li
          %a{ href: "#tab4" } 团购
        %li
          %a{ href: "#tab5" } 专题
      .tab-content#myTabContent
        .tab-pane.fade.active.in#tab1
          = form_tag information_index_path, :method => :get, :class => "form-inline m0",name: "myform", :role => "form" do
            = text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "keyword", :style => "width: 525px", :placeholder => "请输入关键字"
            %button.btn.btn-danger{ type: "submit" }
              搜索
        .tab-pane#tab2
          = form_tag new_homes_path, :method => :get, :class => "form-inline m0",name: "myform", :role => "form" do
            = text_field_tag :keyword, params[:keyword], :class => "form-control", :id => "keyword", :style => "width: 525px", :placeholder => "请输入关键字"
            %button.btn.btn-danger{ type: "submit" }
              搜索
        #tab3.tab-pane
/ 导航
:javascript
  jQuery(function($) {
    $(document).ready( function() {
      $('.newnav').stickUp();
    });
  });
%div{ style: "height: 20px" }
#toc_container.newnav{ align: "center" }
  = link_to "首页", root_path
  |
  = link_to "资讯", information_index_path
  |
  = link_to "新房", new_homes_path
  |
  = link_to "团购", '#', target: "_blank"
  |
  = link_to "地图找房", map_path
  |
  %a{href: "#", target: "_blank"}> 租房
  |
  %a{href: "#", target: "_blank"} 二手房
/ header end
