<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title><%= full_title(yield(:title)) %></title>
  <meta name="keywords" content=<%= full_key(yield(:key)) %> />
  <meta name="description" content=<%= full_desc(yield(:desc)) %>/>
  <link rel="shortcut icon" href="<%= asset_path("favicon.ico") %>" />
  <%= stylesheet_link_tag "application",
                          "custom",
                          "custom/base",
                          "custom/common",
                          "custom/font-awesome.min",
                          "custom/bootstrop3code",
                          params[:controller],
                          media: "all", "data-turbolinks-track" => true %>
  <!--[if lte IE 6]>
    <%= stylesheet_link_tag "bootstrap/bootstrap-ie6.css", media: "all", "data-turbolinks-track" => true %>
  <![endif]-->
  <!--[if lte IE 7]>
    <%= stylesheet_link_tag "bootstrap/ie.css", media: "all", "data-turbolinks-track" => true %>
  <![endif]-->

  <% if mobile? %>
    <%= javascript_include_tag "application",
                            params[:controller],
                            "custom/ad_ls",
                            "data-turbolinks-track" => true %>
  <% else %>
    <%= javascript_include_tag "application",
                              params[:controller],
                              "custom/ad_ls",
                              "custom/stickUp.min",
                              "data-turbolinks-track" => true %>
  <% end %>
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= csrf_meta_tags %>
</head>
  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <% if value =="您的信息我们已经收到，会尽快的联系您。是否继续完成信息登记？" %>
        <SCRIPT LANGUAGE="JavaScript">
          var bln=confirm("是否继续完善登记信息，是点击“确定” 否点击“取消”？")
          if (bln==true){
            window.open('/intention_to_registers');
          }
          else{

         }   
        </script>
      <% else %>
        <SCRIPT LANGUAGE="JavaScript">
          alert("<%= value %>")
        </script>
      <% end %>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <!--[if lte IE 6]>
      <%= javascript_include_tag "bootstrap/bootstrap-ie.js", "data-turbolinks-track" => true %>
    <![endif]-->
  </body>
  </html>
